<launch>

    <arg name="node_name" default="ros-amd-node"/>
    <arg name="robot_namespace" default="sctebot" />

    <arg name="launch_common" default="true"/>

    <group if="$(eval launch_common == true)">
        <include file="$(find sctebot_bootstrap)/launch/subsystems_launch/sctebot_common.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        </include>
    </group>

    <include file="$(find sctebot_bootstrap)/launch/subsystems_launch/sctebot_primary_node_sensors.launch">
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    </include>

</launch>