<launch>

    <arg name="robot_namespace" default="/sctebot" />

    <arg name="gui" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="set_timeout" default="false"/>
    <arg name="timeout" default="0.0"/>

    <!-- region Model -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-0.5"/>
    <arg name="yaw" default="0.0"/>

    <include file="$(find sctebot_description)/launch/sctebot_upload.launch">
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>
    <!-- endregion -->

    <!-- region Gazebo -->
    <include file="$(find sctebot_gazebo)/launch/sctebot_world.launch">
        <arg name="gui" value="$(arg gui)"/>
    </include>
    <!-- endregion -->

    <!-- region Sensors -->
    <!-- endregion -->

    <!-- region Localization -->
    <include file="$(find sctebot_localization)/launch/sctebot_localization.launch">

    </include>
    <!-- endregion -->

    <!-- region Hardware -->
    <!-- endregion -->

    <!-- region Control -->
    <!--include file="$(find sctebot_control)/launch/sctebot_teleop_joy.launch">

    </include-->
    <!-- endregion -->

    <!-- region Visualization -->
    <include file="$(find sctebot_viz)/launch/sctebot_rviz.launch">

    </include>
    <!-- endregion -->

</launch>