<launch>

    <arg name="node_name" default="ros-amd-node"/>
    <arg name="robot_namespace" default="sctebot" />

    <arg name="camera_name" default="realsense_d435i"/>

    <include file="$(find sctebot_sensors)/launch/sctebot_realsense.launch">
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        <arg name="camera" value="$(arg camera_name)"/>
        <!-- point-cloud uses too much CPU. Use depth instead -->
        <arg name="enable_pointcloud" value="false"/>
        <arg name="enable_depth" value="true"/>
        <arg name="enable_infra1" value="true"/>
        <arg name="enable_infra2" value="true"/>
        <arg name="enable_color" value="true"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
    </include>

    <!--
    <include file="$(find navsat_serial_gps)/launch/bu353s4_navsat_gps.launch">
        <arg name="gps_name" value="bu353s4_gps"/>
    </include>
    -->

    <!-- region SLAM & GMAPP -->
    <include file="$(find sctebot_slam)/launch/sctebot_slam.launch">
        <arg name="camera_name" value="realsense_d435i"/>
    </include>
    <!-- endregion -->

</launch>