<launch>

    <arg name="node_name" default="ros-pi-node"/>
    <arg name="robot_namespace" default="sctebot" />

    <arg name="enable_ydlidar" default="false"/>
    <arg name="enable_ada_imu" default="true"/>
    <arg name="enable_ada_gps" default="true"/>

    <group if="$(eval enable_ydlidar == true)">
        <include file="$(find sctebot_sensors)/launch/sctebot_ydlidar_g2.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        </include>
    </group>

    <group if="$(eval enable_ada_imu == true)">
        <include file="$(find adafruit_10dof_imu)/launch/adafruit_10dof_imu.launch">
            <arg name="i2c_bus_number" value="4"/>
        </include>
    </group>

    <group if="$(eval enable_ada_gps == true)">
        <include file="$(find gpsd_gps)/launch/gpsd_gps.launch">
            <arg name="gps_name" value="adafruit_ultimate_gps"/>
        </include>
    </group>

</launch>