<launch>

    <arg name="robot_namespace" default="sctebot" />
    <arg name="enable_adafruit_10dof_imu_primary" default="true"/>

    <include file="$(find sctebot_description)/launch/sctebot_upload.launch">
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        <arg name="spawn_gazebo" value="false"/>
        <arg name="enable_realsense_d435i_stereo_camera" default="true"/>
        <arg name="enable_ydlidar" default="true"/>
    </include>

    <include file="$(find sctebot_localization)/launch/sctebot_localization.launch">
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        <arg name="enable_adafruit_10dof_imu_primary" value="true"/>
    </include>

</launch>