<launch>

    <arg name="node_name" default="ros-amd-node"/>
    <arg name="robot_namespace" default="sctebot" />

    <arg name="enable_realsense_depth_camera" default="true"/>
    <arg name="enable_realsense_depth_camera_slam" default="false"/>
    <arg name="enable_bu353s4_gps" default="false"/>

    <arg name="camera_name" default="realsense_d435i"/>

    <arg name="enable_yost_3space_ahrs_primary" default="true"/>
    <arg name="enable_witmotion_gps_ahrs_primary" default="true"/>

    <group if="$(eval enable_realsense_depth_camera == true)">
        <include file="$(find sctebot_sensors)/launch/sctebot_realsense.launch">
            <arg name="camera_name" value="$(arg camera_name)"/>
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            <arg name="camera" value="$(arg camera_name)"/>
            <!-- point-cloud uses too much CPU. Use depth instead -->
            <arg name="enable_pointcloud" value="false"/>
            <arg name="enable_depth" value="true"/>
            <arg name="enable_infra1" value="true"/>
            <arg name="enable_infra2" value="true"/>
            <arg name="enable_color" value="true"/>
            <arg name="enable_gyro" value="true"/>
            <arg name="enable_accel" value="true"/>
        </include>

        <group if="$(eval enable_realsense_depth_camera_slam == true)">
            <include file="$(find sctebot_slam)/launch/sctebot_slam.launch">
                <arg name="camera_name" value="realsense_d435i"/>
            </include>
        </group>

    </group>

    <group if="$(eval enable_bu353s4_gps == true)">
        <include file="$(find navsat_serial_gps)/launch/bu353s4_navsat_gps.launch">
            <arg name="gps_name" value="bu353s4_gps"/>
        </include>
    </group>

    <group if="$(eval enable_yost_3space_ahrs_primary == true)">
        <include file="$(find sctebot_sensors)/launch/sctebot_y3space.launch">
        </include>
    </group>

    <group if="$(eval enable_witmotion_gps_ahrs_primary == true)">
        <include file="$(find sctebot_sensors)/launch/sctebot_witmotion.launch">
        </include>
    </group>
</launch>