<launch>
    <!--
    http://wiki.ros.org/rtabmap_ros
    https://emanual.robotis.com/docs/en/platform/turtlebot3/slam_simulation/
     -->

    <arg name="robot_namespace" default="/sctebot"/>
    <arg name="use_stereo_camera" default="false"/>
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="configuration_basename" default="sctebot_lds_2d.lua"/>

    <arg name="camera_name" default="stereo_fwd"/>
    <arg name="left_image_topic" default="$(arg camera_name)/left"/>
    <arg name="right_image_topic" default="$(arg camera_name)/right"/>

    <arg name="imu_topic" default="gazebo/imu"/>

    <!-- SLAM: Gmapping, etc. Launch -->
    <group ns="$(arg robot_namespace)">

        <!--
        <include file="$(find sctebot_slam)/launch/sctebot_$(arg slam_methods).launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            <arg name="configuration_basename" value="$(arg configuration_basename)"/>
        </include>
        -->

        <!--
        https://answers.ros.org/question/329165/using-rtabmap_ros-with-external-gps/
        https://answers.ros.org/question/225694/interfacing-rtabmap-and-robot_localization/
        https://answers.ros.org/question/296510/navigation-outdoors-how/
        https://diglib.tugraz.at/download.php?id=576a78e3070c4&location=browse
        http://wiki.ros.org/rtabmap_ros/Tutorials/StereoHandHeldMapping
        -->
        <group if="$(arg use_stereo_camera)">
            <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
                <arg name="args" value="--delete_db_on_start"/>
                <arg name="left_image_topic" value="/$(arg robot_namespace)/$(arg left_image_topic)/image_raw"/>
                <arg name="right_image_topic" value="/$(arg robot_namespace)/$(arg right_image_topic)/image_raw"/>
                <arg name="left_camera_info_topic" value="/$(arg robot_namespace)/$(arg left_image_topic)/camera_info"/>
                <arg name="right_camera_info_topic" value="/$(arg robot_namespace)/$(arg right_image_topic)/camera_info"/>
                <arg name="approx_sync" value="true"/>
                <arg name="stereo" value="true"/>
                <arg name="wait_imu_to_init" value="true"/>
                <arg name="imu_topic" value="/$(arg robot_namespace)/$(arg imu_topic)"/>
                <arg name="frame_id" value="base_footprint"/>
                <arg name="publish_tf_odom" value="true"/>
                <arg name="publish_tf_map" value="true"/>
                <arg name="rtabmapviz" value="false"/>
                <arg name="rviz" value="false"/>
            </include>
        </group>

        <group unless="$(arg use_stereo_camera)">
            <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
                <arg name="args" value="--delete_db_on_start"/>
                <arg name="rgb_topic" value="/$(arg robot_namespace)/$(arg camera_name)/color/image_raw"/>
                <arg name="depth_topic" value="/$(arg robot_namespace)/$(arg camera_name)/aligned_depth_to_color/image_raw"/>
                <arg name="camera_info_topic" value="/$(arg robot_namespace)/$(arg camera_name)/color/camera_info"/>
                <arg name="depth_camera_info_topic" value="/$(arg robot_namespace)/$(arg camera_name)/depth/camera_info"/>
                <arg name="approx_sync" value="true"/>
                <arg name="frame_id" value="base_footprint"/>
                <arg name="publish_tf_odom" value="false"/>
                <arg name="publish_tf_map" value="false"/>
                <arg name="rtabmapviz" value="false"/>
                <arg name="rviz" value="false"/>
            </include>
        </group>

    </group>

</launch>