<launch>
    <!--
    http://wiki.ros.org/rtabmap_ros
    https://emanual.robotis.com/docs/en/platform/turtlebot3/slam_simulation/
     -->

    <arg name="robot_namespace" default="/sctebot"/>
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="configuration_basename" default="sctebot_lds_2d.lua"/>

    <!-- SLAM: Gmapping, etc. Launch -->
    <group ns="$(arg robot_namespace)">

        <!---->
        <include file="$(find sctebot_slam)/launch/sctebot_$(arg slam_methods).launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            <arg name="configuration_basename" value="$(arg configuration_basename)"/>
        </include>

        <!--
        https://answers.ros.org/question/329165/using-rtabmap_ros-with-external-gps/
        https://answers.ros.org/question/225694/interfacing-rtabmap-and-robot_localization/
        https://answers.ros.org/question/296510/navigation-outdoors-how/
        https://diglib.tugraz.at/download.php?id=576a78e3070c4&location=browse
        -->
        <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
            <arg name="args" value="--delete_db_on_start"/>
            <arg name="rgb_topic" value="$(arg robot_namespace)/d455/color/image_raw"/>
            <arg name="depth_topic" value="$(arg robot_namespace)/d455/aligned_depth_to_color/image_raw"/>
            <arg name="camera_info_topic" value="$(arg robot_namespace)/d455/color/camera_info"/>
            <arg name="depth_camera_info_topic" value="$(arg robot_namespace)/d455/depth/camera_info"/>
            <arg name="frame_id" value="base_footprint"/>
            <arg name="publish_tf_odom" value="false"/>
            <arg name="publish_tf_map" value="false"/>
            <arg name="rtabmapviz" value="false"/>
            <arg name="rviz" value="false"/>
        </include>

        <!---->

    </group>

</launch>