<?xml version="1.0"?>
<robot name="sctebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="computer_enclosure" params="link_name parent_link
    enclosure_origin
    enclosure_rpy
    ">

        <link name="${link_name}">
            <inertial>
                <mass value="${base_mass * 0.02}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.26 0.185 0.06"/>
                </geometry>
                <material name="none">
                    <color rgba="${122/255} ${125/255} ${121/255} 0.5"/>
                </material>
            </visual>
            <collision name='collision'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.26 0.185 0.06"/>
                </geometry>
            </collision>
        </link>
        <joint name="${link_name}_TO_${parent_link}" type="fixed">
            <origin xyz="${enclosure_origin}" rpy="${enclosure_rpy}"/>
            <parent link="${parent_link}"/>
            <child link="${link_name}"/>
        </joint>

    </xacro:macro>

</robot>