KERNEL=="video*", ATTR{index}=="0", ATTRS{idVendor}=="046d", ATTRS{serial}=="105A0B10", SYMLINK+="c270VideoLeft"
KERNEL=="video*", ATTR{index}=="0", ATTRS{idVendor}=="046d", ATTRS{serial}=="F1A3DA10", SYMLINK+="c270VideoRight"

