<launch>

    <arg name="robot_namespace" default="sctebot"/>

    <group ns="$(arg robot_namespace)">
        <rosparam command="load" file="$(find witmotion_ros)/config/config.yml" />
        <node name="witmotion_imu" pkg="witmotion_ros"  type="witmotion_ros_node" output="screen"/>
    </group>

    <!-- IMU madgwick -->
    <!--
    https://answers.ros.org/question/353799/how-to-convert-imu-from-left-handed-rule-to-right-handed-rule/
    https://support.intelrealsense.com/hc/en-us/community/posts/360051415094-Realsense-D435i-rs-motion-drift-on-y-orientation
    https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i
    https://www.intelrealsense.com/how-to-getting-imu-data-from-d435i-and-t265/
    -->
    <!-- Including this inside the group causes issues with topic remapping - ->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="$(arg camera_name)_imu_filter_madgwick" output="screen" clear_params="true" respawn="false">
        <remap from="imu/data_raw" to="/$(arg robot_namespace)/$(arg camera_name)/imu/data_raw"/>
        <remap from="imu/data" to="/$(arg robot_namespace)/$(arg camera_name)/imu/data"/>
        <param name="fixed_frame" value="pal_odom" />
        <param name="world_frame" value="enu" />
        <param name="publish_tf" value="false" />
        <param name="orientation_stddev" value="0.05" />
        <param name="use_mag" value="false" />
        <param name="use_magnetic_field_msg" value="false" />
    </node>
    <!- - -->

    <!-- region IMU transformer -->
    <!--
    <node pkg="tf" type="static_transform_publisher"
          name="imu_transformer_broadcaster"
          args="0 0 0 0 -1.57 1.57 $(arg camera_name)_imu_optical_frame $(arg camera_name)_imu_optical_frame_corrected 100"
    />

    <node pkg="imu_transformer" type="imu_transformer_node" name="imu_data_transformer" output="screen">
        <remap from="imu_in" to="/$(arg robot_namespace)/$(arg camera_name)/imu"/>
        <remap from="imu_out" to="/$(arg robot_namespace)/$(arg camera_name)/imu_corrected"/>
        <param name="target_frame" value="$(arg camera_name)_imu_optical_frame_corrected"/>
    </node>
    -->
    <!-- endregion -->

</launch>