<launch>
    <arg name="robot_namespace" default=""/>
    <arg name="pub_tf" default="false"/>
    <arg name="simulation_on" default="0"/>
    <arg name="enable_ekf_localization" default="0"/>
    <arg name="enable_navsat_odom" default="0"/>

    <!-- start EKF for localization
      https://answers.ros.org/question/239612/can-i-change-arg-value-in-roslaunch/
  -->
    <!--arg name="ekf_settings_file" default="ekf_settings.yaml" unless="$(arg simulation_on)"/>
    <arg name="ekf_settings_file" default="ekf_settings_simulation.yaml" if="$(arg simulation_on)"/-->

    <!-- IMU tie in/robot localization
    References:
         https://github.com/udacity/robot_pose_ekf
         https://answers.ros.org/question/259084/basic-robot_localization-example/
         https://github.com/cra-ros-pkg/robot_localization/blob/kinetic-devel/params/ekf_template.yaml
    Notes:
        Get an error output onto the terminal when using robot_localizaiton
        https://github.com/ros/geometry2/issues/467
        http://wiki.ros.org/robot_localization/Troubleshooting
        https://answers.ros.org/questions/scope:all/sort:activity-desc/tags:robot_localization/page:1/
    -->
    <!--
    <group if="$(eval arg('enable_ekf_localization') == 1)">
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
            <rosparam command="load" file="$(find scte_control)/config/$(arg ekf_settings_file)"/>
        </node>
    </group>
    -->
    <!--
    http://docs.ros.org/en/melodic/api/robot_localization/html/integrating_gps.html
    -->
    <!--rosparam param="datum">[55.944904, -3.186693, 0.0, map, base_link]</rosparam-->
    <!--
    <group if="$(eval arg('enable_navsat_odom') == 1)">
        <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

            <param name="magnetic_declination_radians" value="0"/>

            <param name="yaw_offset" value="0"/>

            <remap from="/imu/data" to="/your/imu/topic" />
            <remap from="/gps/fix" to="/ada_ultimate_gps/fix" />
            <remap from="/odometry/filtered" to="/your/robot_localization/output/topic" />

        </node>
    </group>
    -->

    <!--
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" ns="/">
        <rosparam command="load" file="$(find scte_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="velocity_controller/cmd_vel"/>
    </node>
    -->
</launch>