<launch>

    <arg name="robot_namespace" default="scte_bot"/>
    <arg name="enable_joystick" default="1"/>

    <arg name="joy_config" default="teleop_asus" />
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="config_filepath" default="$(find scte_control)/config/$(arg joy_config).config.yaml" />

    <group if="$(eval arg('enable_joystick') == 1)">

        <node pkg="joy" type="joy_node" name="joy_node" ns="$(arg robot_namespace)">
            <param name="dev" value="$(arg joy_dev)" />
            <param name="deadzone" value="0.1" />
            <param name="autorepeat_rate" value="20" />
        </node>

        <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
            <rosparam command="load" file="$(arg config_filepath)" />
            <remap from="/joy" to="$(arg robot_namespace)/joy"/>
            <remap from="/cmd_vel" to="$(arg robot_namespace)/ackermann_steering_controller/cmd_vel"/>
        </node>

    </group>
</launch>