<launch>

    <arg name="robot_namespace" default="/sctebot"/>
    <arg name="gpsName" default="garmin_18x"/>
    <arg name="hostIP" default="localhost"/>
    <arg name="hostPort" default="2947"/>
    <arg name="nodeName" default="local"/>

    <group ns="$(arg robot_namespace)">
        <!--
        address must match the hostname EXACTLY and/or be all lower case. Otherwise get known_hosts error.
        -->
        <group if="$(eval nodeName == 'local')">
            <node name="$(arg gpsName)" pkg="gpsd_client" type="gpsd_client" output="screen">
                <param name="_host" value="$(arg hostIP)"/>
                <param name="_port" value="$(arg hostPort)"/>
                <remap from="fix" to="$(arg gpsName)/gps/fix"/>
                <remap from="extended_fix" to="$(arg gpsName)/gps/extended_fix"/>
            </node>
        </group>
        <group unless="$(eval nodeName == 'local')">
            <group if="$(eval nodeName == 'ros-pi-node')">
                <machine name="$(arg nodeName)" user="user" address="ros-pi-node" default="never" env-loader="/opt/ros/noetic/env.sh" timeout="10"/>
            </group>
            <group if="$(eval nodeName == 'ros-vm-node')">
                <machine name="$(arg nodeName)" user="user" address="ros-vm-node" default="never" env-loader="/opt/ros/noetic/env.sh" timeout="10"/>
            </group>

            <node name="$(arg gpsName)" pkg="gpsd_client" type="gpsd_client" output="screen" machine="$(arg nodeName)">
                <param name="_host" value="$(arg hostIP)"/>
                <param name="_port" value="$(arg hostPort)"/>
                <remap from="fix" to="$(arg gpsName)/gps/fix"/>
                <remap from="extended_fix" to="$(arg gpsName)/gps/extended_fix"/>
            </node>
        </group>

    </group>

</launch>