<?xml version="1.0"?>
<robot name="sctebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="scte_drive_axle" params="link_name parent_link
                                        drive_axle_radius
                                        drive_axle_length
                                        drive_axle_joint_xyz
                                        drive_axle_joint_rpy"
    >

        <link name="${link_name}">
            <!--
            even though this is not moving, the wheels which do move need to connect to something
            with inertial properties
            -->
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.05" />
                <inertia
                        ixx="1e-6" ixy="0.0" ixz="0.0"
                        iyy="1e-6" iyz="0.0"
                        izz="1e-6" />
            </inertial>
            <visual name='visual'>
                <geometry>
                    <cylinder radius="${drive_axle_radius}" length="${drive_axle_length}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision name='collision'>
                <geometry>
                    <cylinder radius="${drive_axle_radius}" length="${drive_axle_length}"/>
                </geometry>
            </collision>
        </link>
        <joint name='${link_name}_TO_${parent_link}' type='fixed'>
            <origin xyz="${drive_axle_joint_xyz}" rpy="${drive_axle_joint_rpy}"/>
            <parent link="${parent_link}"/>
            <child link="${link_name}"/>
        </joint>

        <gazebo reference="${link_name}">
            <selfCollide>false</selfCollide>
        </gazebo>

    </xacro:macro>

</robot>