<?xml version="1.0"?>
<robot name="sctebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="scte_front_bumper" params="link_name parent_link
front_skid_plate_size
front_skid_plate_joint_xyz
front_skid_plate_joint_rpy
front_bumper_size
">

        <!--front skid plate-->
        <link name="${link_name}_skid_plate">
            <!--intertial>
                <mass value="${scte_chassis_mass * 0.05}"/>
                <inertia
                        ixx="1e-6" ixy="0" ixz="0"
                        iyy="1e-6" iyz="0"
                        izz="1e-6"
                />
            </intertial-->
            <visual>
                <geometry>
                    <box size="${front_skid_plate_size}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${front_skid_plate_size}"/>
                </geometry>
            </collision>
        </link>
        <joint name="${link_name}_skid_plate_TO_${parent_link}" type="fixed">
            <origin xyz="${front_skid_plate_joint_xyz}" rpy="${front_skid_plate_joint_rpy}"/>
            <parent link="${parent_link}"/>
            <child link="${link_name}_skid_plate"/>
        </joint>

        <link name="${link_name}">
            <!--intertial>
                <mass value="${scte_chassis_mass * 0.05}"/>
                <inertia
                        ixx="1e-6" ixy="0" ixz="0"
                        iyy="1e-6" iyz="0"
                        izz="1e-6"
                />
            </intertial-->
            <visual>
                <geometry>
                    <box size="${front_bumper_size}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${front_bumper_size}"/>
                </geometry>
            </collision>
        </link>
        <joint name="${link_name}_TO_${parent_link}" type="fixed">
            <origin xyz="${0.07 * 0.70} 0 ${0.07 * 0.35}" rpy="0 ${pi/6} 0"/>
            <parent link="${link_name}_skid_plate"/>
            <child link="${link_name}"/>
        </joint>
    </xacro:macro>

</robot>

