<?xml version="1.0"?>
<robot name="scte_diff_axle" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="scte_axle_components" params="suffix parent_link
diff_plate_size  
diff_joint_xyz
diff_joint_rpy      
drive_axle_radius
drive_axle_length
drive_axle_joint_origin
drive_axle_joint_rpy        
shock_tower_size
shock_tower_joint_origin
shock_tower_joint_rpy
left_wheel_radius
left_wheel_length
left_wheel_joint_origin
left_wheel_joint_rpy
right_wheel_radius
right_wheel_length
right_wheel_joint_origin
right_wheel_joint_rpy">
        
        <!--diff base plate-->
        <link name="diff_base_plate_${suffix}">            
            <intertial>
                <mass value="${scte_total_mass * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </intertial>
            <visual>
                <geometry>
                    <box size="${diff_plate_size}"/>
                </geometry>
                <material name="green"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${diff_plate_size}"/>
                </geometry>
            </collision>
        </link>
        <joint name="diff_${suffix}_JOINT_${parent_link}" type="fixed">
            <axis xyz="0 0 0"/>
            <origin xyz="${diff_joint_xyz}" rpy="${diff_joint_rpy}"/>
            <parent link="${parent_link}"/>
            <child link="diff_base_plate_${suffix}"/>
        </joint>
        
        <!--front bumper plate-->
        <xacro:if value="${suffix == 'scte_front'}">
        <link name="diff_base_bumper_plate_${suffix}">            
            <intertial>
                <mass value="${scte_total_mass * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </intertial>
            <visual>
                <geometry>
                    <box size="${diff_plate_size}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${diff_plate_size}"/>
                </geometry>
            </collision>
        </link>
        <joint name="diff_bumper_${suffix}_JOINT_${parent_link}" type="fixed">
            <axis xyz="0 0 0"/>
            <origin xyz="${0.07} 0 ${0.07 * 0.30}" rpy="0 ${M_PI/-6}  0"/>
            <parent link="diff_base_plate_${suffix}"/>
            <child link="diff_base_bumper_plate_${suffix}"/>
        </joint>
        
        <link name="bumper_${suffix}">
            <intertial>
                <mass value="${scte_total_mass * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </intertial>
            <visual>
                <geometry>
                    <box size="0.01 0.175 0.05"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision>
                <geometry>
                    <box size="0.01 0.175 0.05"/>
                </geometry>
            </collision>
        </link>
        <joint name="bumper_${suffix}_JOINT_${parent_link}" type="fixed">
            <axis xyz="0 0 0"/>
            <origin xyz="${0.07 * 0.70} 0 ${0.07 * 0.35}" rpy="0 ${M_PI/6} 0"/>
            <parent link="diff_base_bumper_plate_${suffix}"/>
            <child link="bumper_${suffix}"/>
        </joint>
        
        </xacro:if>
        
        <!--rear bumper assembly-->
        <xacro:if value="${suffix == 'scte_rear'}">
        <link name="diff_base_bumper_plate_${suffix}">            
            <intertial>
                <mass value="${scte_total_mass * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </intertial>
            <visual>
                <geometry>
                    <box size="0.09 0.05 0.05"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision>
                <geometry>
                    <box size="0.09 0.05 0.05"/>
                </geometry>
            </collision>
        </link>
        <joint name="diff_bumper_${suffix}_JOINT_${parent_link}" type="fixed">
            <axis xyz="0 0 0"/>
            <origin xyz="${0.09 * -0.5} 0 0" rpy="0 0 0"/>
            <parent link="shock_tower_${suffix}"/>
            <child link="diff_base_bumper_plate_${suffix}"/>
        </joint>
        
        <link name="bumper_${suffix}">
            <intertial>
                <mass value="${scte_total_mass * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </intertial>
            <visual>
                <geometry>
                    <box size="0.01 0.255 0.05"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision>
                <geometry>
                    <box size="0.01 0.255 0.05"/>
                </geometry>
            </collision>
        </link>
        <joint name="bumper_${suffix}_JOINT_${parent_link}" type="fixed">
            <axis xyz="0 0 0"/>
            <origin xyz="${0.09 * -0.5} 0 0.015" rpy="0 0 0"/>
            <parent link="diff_base_bumper_plate_${suffix}"/>
            <child link="bumper_${suffix}"/>
        </joint>
        
        </xacro:if>                         
        
        <!--shock tower-->
        <!---->
        <link name="shock_tower_${suffix}">
            <inertial>
                <mass value="${scte_total_mass * 0.25 * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <geometry>
                    <box size="${shock_tower_size}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision name='collision'>
                <geometry>
                    <box size="${shock_tower_size}"/>
                </geometry>
            </collision>
        </link>
        <joint name='shock_tower_${suffix}_JOINT_diff_${suffix}' type='fixed'>
            <origin xyz="${shock_tower_joint_origin}" rpy="${shock_tower_joint_rpy}"/>
            <parent link="diff_base_plate_${suffix}"/>
            <child link="shock_tower_${suffix}"/>
            <axis xyz="0 0 0" rpy="0 0 0"/>
        </joint>
        <!---->

        <!--axle-->
        <!---->
        <link name="axle_${suffix}">
            <inertial>
                <mass value="${scte_total_mass * 0.02}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <geometry>
                    <cylinder radius="${drive_axle_radius}" length="${drive_axle_length}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision name='collision'>
                <geometry>
                    <cylinder radius="${drive_axle_radius}" length="${drive_axle_length}"/>
                </geometry>
            </collision>
        </link>
        <joint name='diff_${suffix}_JOINT_axle_${suffix}' type='fixed'>
            <origin xyz="${drive_axle_joint_origin}" rpy="${drive_axle_joint_rpy}"/>
            <parent link="diff_base_plate_${suffix}"/>
            <child link="axle_${suffix}"/>
            <axis xyz="0 0 0" rpy="0 0 0"/>
        </joint>
        <!---->
               
        <!--wheels-->
        <!---->
        <link name="left_wheel_${suffix}">
            <inertial>
                <mass value="${scte_total_mass * 0.25 * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <geometry>
                    <cylinder radius="${left_wheel_radius}" length="${left_wheel_length}"/>
                </geometry>
                <material name="green"/>
            </visual>
            <collision name='collision'>
                <geometry>
                    <cylinder radius="${left_wheel_radius}" length="${left_wheel_length}"/>
                </geometry>
            </collision>
        </link>
        <joint name='left_wheel_${suffix}_JOINT_axle_${suffix}' type='fixed'>
            <origin xyz="${left_wheel_joint_origin}" rpy="${left_wheel_joint_rpy}"/>
            <parent link="axle_${suffix}"/>
            <child link="left_wheel_${suffix}"/>
            <axis xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <!---->
        <link name="right_wheel_${suffix}">
            <inertial>
                <mass value="${scte_total_mass * 0.25 * 0.05}"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <geometry>
                    <cylinder radius="${right_wheel_radius}" length="${right_wheel_length}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision name='collision'>
                <geometry>
                    <cylinder radius="${right_wheel_radius}" length="${right_wheel_length}"/>
                </geometry>
            </collision>
        </link>
        <joint name='right_wheel_${suffix}_JOINT_axle_${suffix}' type='fixed'>
            <origin xyz="${right_wheel_joint_origin}" rpy="${right_wheel_joint_rpy}"/>
            <parent link="axle_${suffix}"/>
            <child link="right_wheel_${suffix}"/>
            <axis xyz="0 0 0" rpy="0 0 0"/>
        </joint>
        <!---->
    </xacro:macro>

</robot>

