<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <!-- VMWare env variable workaround to keep gazebo from crashing due to OpenGL issues-->
    <env name="SVGA_VGPU10" value="0"/>

    <arg name="world" default="empty"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <arg name="robot_namespace" default="/"/>

    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="1.0"/>
    <arg name="yaw" default="0.0"/>

    <!--
    DEBUG scteInterfacePlugin arguments
    -->
    <arg name="pub_Tf" default="true" />
    <arg name="blue" default="false" />
    <arg name="tf_freq" default="100.0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find scte_gazebo)/worlds/scte.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- control and teleop launch -->
    <include file="$(find scte_control)/launch/control.launch">

    </include>
    <include file="$(find scte_control)/launch/teleop.launch">

    </include>

    <!-- Spawn robot in gazebo -->
    <node name="spawn_scte_model" pkg="gazebo_ros" type="spawn_model"
          args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />

</launch>