<!--SENSORS-->
<!---->
<link name="stereo_camera_bar_support">
    <inertial>
        <mass value="${scte_chassis_mass * 0.01}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
        />
    </inertial>
    <visual name='visual'>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.01" length="0.06"/>
        </geometry>
        <material name="blue"/>
    </visual>
    <collision name='collision'>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.01" length="0.06"/>
        </geometry>
    </collision>
</link>
<joint name="stereo_camera_bar_support_JOINED_main_computer_enclosure" type="fixed">
<origin xyz="${0.260 * -0.45} 0 ${0.06 * 1.0}" rpy="0 0 0"/>
<parent link="main_computer_enclosure"/>
<child link="stereo_camera_bar_support"/>
</joint>

<link name="stereo_camera_bar">
<inertial>
    <mass value="${scte_chassis_mass * 0.01}"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia
            ixx="1" ixy="0" ixz="0"
            iyy="1" iyz="0"
            izz="1"
    />
</inertial>
<visual name='visual'>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
        <box size="0.03 0.202 0.004"/>
    </geometry>
    <material name="blue"/>
</visual>
<collision name='collision'>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
        <box size="0.03 0.202 0.004"/>
    </geometry>
</collision>
</link>
<joint name="stereo_camera_bar_JOINED_stereo_camera_bar_support" type="fixed">
<origin xyz="0 0 ${0.06 * 0.5}" rpy="0 0 0"/>
<parent link="stereo_camera_bar_support"/>
<child link="stereo_camera_bar"/>
</joint>

<xacro:include filename="$(find logitech_c270_camera)/urdf/logitech_c270.xacro"/>
        <!--
            https://answers.ros.org/question/9840/how-do-you-get-stereo_image_proc-to-include-a-frame_id-so-that-rviz-will-accept-the-point-cloud-messages/
            - stereo projection/point cloud uses the left cameras frame_id to determine how to draw the image
            may need to use image_rect for the video to align with the model
            https://berndpfrommer.github.io/tagslam_web/visualization/
        -->
<xacro:logitech_c270_camera parent_link="stereo_camera_bar" camera_link="driver_side_camera" joint_xyz="0.0 0.05 ${0.025 * 0.5}" joint_rpy="0 0 0"/>
<xacro:logitech_c270_camera parent_link="stereo_camera_bar" camera_link="passenger_side_camera" joint_xyz="0.0 -0.05 ${0.025 * 0.5}" joint_rpy="0 0 0"/>

        <!--
        <link name="debug_stereo_perception_camera">
            <inertial>
                <mass value="${scte_chassis_mass * 0.0001}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.05 0.05 0.05"/>
                </geometry>
                <material name="blue"/>
            </visual>
            <collision name='collision'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.05 0.05 0.05"/>
                </geometry>
            </collision>
        </link>
        <joint name="debug_stereo_perception_camera_JOINED_stereo_camera_bar" type="fixed">
            <origin xyz="0 0.5 0" rpy="${M_PI/-2} 0 ${M_PI/-2}"/>
            <parent link="stereo_camera_bar"/>
            <child link="debug_stereo_perception_camera"/>
        </joint>
        -->
