<?xml version="1.0"?>
<robot name="sctebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="camera_rig" params="link_name parent_link
    camera_rig_origin
    camera_rig_rpy
    ">

        <link name="${link_name}_support">
            <inertial>
                <mass value="${scte_chassis_mass * 0.01}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.01" length="0.06"/>
                </geometry>
                <material name="blue"/>
            </visual>
            <collision name='collision'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.01" length="0.06"/>
                </geometry>
            </collision>
        </link>
        <joint name="${link_name}_support_TO_${parent_link}" type="fixed">
            <origin xyz="${camera_rig_origin}" rpy="${camera_rig_rpy}"/>
            <parent link="${parent_link}"/>
            <child link="${link_name}_support"/>
        </joint>

        <link name="${link_name}_bar">
            <inertial>
                <mass value="${scte_chassis_mass * 0.01}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia
                        ixx="1" ixy="0" ixz="0"
                        iyy="1" iyz="0"
                        izz="1"
                />
            </inertial>
            <visual name='visual'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.202 0.004"/>
                </geometry>
                <material name="blue"/>
            </visual>
            <collision name='collision'>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.202 0.004"/>
                </geometry>
            </collision>
        </link>
        <joint name="${link_name}_bar_TO_${link_name}_support" type="fixed">
            <origin xyz="0 0 ${0.06 * 0.5}" rpy="0 0 0"/>
            <parent link="${link_name}_support"/>
            <child link="${link_name}_bar"/>
        </joint>

    </xacro:macro>
</robot>
