<launch>

    <arg name="robot_namespace" default=""/>
    <arg name="tf_freq" default="100.0"/>

    <!-- Robot and Joint state tf publishers -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen" ns="$(arg robot_namespace)">
        <param name="publish_frequency" type="double" value="$(arg tf_freq)"/>
    </node>

    <!--
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
          respawn="false" output="screen" ns="$(arg robot_namespace)">
        <param name="publish_frequency" type="double" value="$(arg tf_freq)"/>
    </node>
    -->

    <!-- main vehicle urdf file with vehicle transforms-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find scte_description)/urdf/scte_chassis.xacro'
        robot_namespace:=$(arg robot_namespace)"/>

</launch>