<?xml version="1.0"?>
<launch>

    <arg name="namespace" default="sctebot"/>
    <arg name="username" default="$(optenv USER)"/>

    <arg name="bag_name" default=""/>

    <arg name="log_to_directory"
        default="/home/$(arg username)/rosbags/$(arg namespace)/$(arg namespace)_$(arg bag_name)"
    />

    <arg name="ackermann_steering_controller_topics" default="
        /$(arg namespace)/ackermann_steering_controller/cmd_vel
        /$(arg namespace)/ackermann_steering_controller/odom
    "/>

    <arg name="adafruit_10dof_imu_topics" default="
        /$(arg namespace)/adafruit_10dof_imu/imu/data_raw
        /$(arg namespace)/adafruit_10dof_imu/mag/data_raw
        /$(arg namespace)/adafruit_10dof_imu/atm_pressure/data_raw
        /$(arg namespace)/adafruit_10dof_imu/sea_lvl_pressure/data_raw
        /$(arg namespace)/adafruit_10dof_imu/atm_temperature/data_raw
        /$(arg namespace)/adafruit_10dof_imu/atm_altitude/data_raw
    "/>

    <arg name="adafruit_ultimate_gps_topics" default="
        /$(arg namespace)/adafruit_ultimate_gps/gps/fix
        /$(arg namespace)/adafruit_ultimate_gps/gps/extended_fix
        /$(arg namespace)/adafruit_ultimate_gps/odometry/gps
    "/>

    <arg name="gazebo_sensor_topics" default="
        /$(arg namespace)/gazebo/gps/fix
        /$(arg namespace)/gazebo/imu
    "/>

    <arg name="gpsd_gps_topics" default="
        /$(arg namespace)/gpsd_gps/gps/fix
        /$(arg namespace)/gpsd_gps/gps/extended_fix
    "/>

    <arg name="realsense_d435i_camera_image_topics" default="
        /$(arg namespace)/realsense_d435i/color/image_raw/compressed
        /$(arg namespace)/realsense_d435i/aligned_depth_to_color/image_raw/compressed
        /$(arg namespace)/realsense_d435i/left/image_raw/compressed
        /$(arg namespace)/realsense_d435i/right/image_raw/compressed
        /$(arg namespace)/realsense_d435i/depth/image_rect_raw
    "/>

    <arg name="realsense_d435i_camera_meta_topics" default="
        /$(arg namespace)/realsense_d435i/color/camera_info
        /$(arg namespace)/realsense_d435i/left/camera_info
        /$(arg namespace)/realsense_d435i/right/camera_info
        /$(arg namespace)/realsense_d435i/depth/camera_info
        /$(arg namespace)/realsense_d435i/aligned_depth_to_color/camera_info
        /$(arg namespace)/realsense_d435i/color/metadata
        /$(arg namespace)/realsense_d435i/depth/metadata
        /$(arg namespace)/realsense_d435i/infra1/metadata
        /$(arg namespace)/realsense_d435i/infra2/metadata
        /$(arg namespace)/realsense_d435i/extrinsics/depth_to_color
        /$(arg namespace)/realsense_d435i/extrinsics/depth_to_infra1
        /$(arg namespace)/realsense_d435i/extrinsics/depth_to_infra2
    "/>

    <arg name="realsense_d435i_imu_topics" default="
        /$(arg namespace)/realsense_d435i/imu/data_raw
        /$(arg namespace)/realsense_d435i/imu/data
        /$(arg namespace)/realsense_d435i/imu_corrected/data
        /$(arg namespace)/realsense_d435i/gyro/imu_info
        /$(arg namespace)/realsense_d435i/accel/imu_info
    "/>

    <arg name="ros_topics" default="
        /tf
        /tf_static
        /$(arg namespace)/joint_states
        /$(arg namespace)/gps/filtered
        /$(arg namespace)/odom
        /$(arg namespace)/odometry/filtered
        /$(arg namespace)/odometry/filtered_map
        /$(arg namespace)/robot_description
    "/>

    <arg name="rtabmap_topics" default="
        /$(arg namespace)/rtabmap/octomap_binary
    "/>

    <arg name="stereo_fwd_camera_topics" default="
        /$(arg namespace)/stereo_fwd/color/image_raw/compressed
        /$(arg namespace)/stereo_fwd/color/camera_info
        /$(arg namespace)/stereo_fwd/left/image_raw/compressed
        /$(arg namespace)/stereo_fwd/left/camera_info
        /$(arg namespace)/stereo_fwd/right/image_raw/compressed
        /$(arg namespace)/stereo_fwd/right/camera_info
    "/>

    <arg name="y3_lidar_topics" default="
        /$(arg namespace)/scan
    "/>

    <arg name="topics_to_record" default="
        $(arg ackermann_steering_controller_topics)
        $(arg adafruit_10dof_imu_topics)
        $(arg adafruit_ultimate_gps_topics)
        $(arg gazebo_sensor_topics)
        $(arg gpsd_gps_topics)
        $(arg realsense_d435i_camera_image_topics)
        $(arg realsense_d435i_camera_meta_topics)
        $(arg realsense_d435i_imu_topics)
        $(arg ros_topics)
        $(arg rtabmap_topics)
        $(arg stereo_fwd_camera_topics)
        $(arg y3_lidar_topics)
    "/>

    <!-- region Topic Tools -->
    <!-- node
            name="$(arg namespace)_topic_tools"
            pkg="topic_tools"
            type="throttle"
            args="messages /$(arg namespace)/stereo_fwd/points2 3.0 /$(arg namespace)/realsense_d435i/points2 3.0"
    /-->
    <!-- endregion -->

    <!-- launch rosbag-->
    <node
        name="$(arg namespace)_rosbag_record"
        pkg="rosbag"
        type="record"
        args="record -o $(arg log_to_directory) --split --size 1024 $(arg topics_to_record)"
    />

</launch>