<?xml version='1.0'?>

<robot name="gazebo_stereo_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="gazebo_stereo_camera" params="parent_link camera_link joint_xyz joint_rpy">

        <link name="${camera_link}_body">
            <visual name='visual'>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.025 0.09 0.025"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision name='collision'>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.025 0.09 0.025"/>
                </geometry>
            </collision>
        </link>
        <joint name="${camera_link}_TO_${parent_link}" type="fixed">
            <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
            <parent link="${parent_link}"/>
            <child link="${camera_link}_body"/>
        </joint>

        <link name="${camera_link}_base">
            <visual name='visual'>
                <origin xyz="0.003 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision name='collision'>
                <origin xyz="0.003 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
            </collision>
        </link>
        <joint name="${camera_link}_base_TO_${camera_link}_body" type="fixed">
            <!-- TODO fix the orientation so that the point cloud matches the actual frame -->
            <origin xyz="0.03 0.015 0.0" rpy="0 1 0"/>
            <parent link="${camera_link}_body"/>
            <child link="${camera_link}_base"/>
        </joint>

        <link name="${camera_link}_optical_frame"/>
        <joint name="${camera_link}_optical_TO_${parent_link}_body" type="fixed">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <parent link="${camera_link}_base"/>
            <child link="${camera_link}_optical_frame"/>
        </joint>

    </xacro:macro>

</robot>