<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <!-- example steer_bot https://github.com/srmainwaring/steer_bot -->

    <!-- VMWare env variable workaround to keep gazebo from crashing due to OpenGL issues-->
    <env name="SVGA_VGPU10" value="0"/>

    <arg name="model" default="$(find sctebot_description)/urdf/sctebot_chassis.xacro"/>
    <arg name="spawn_gazebo" default="true"/>
    <arg name="robot_namespace" default="/sctebot" />
    <arg name="cmd_timeout" default="0.5"/>

    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="-0.5" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <arg name="enable_gazebo_stereo_camera" default="false"/>
    <arg name="enable_logitech_stereo_camera" default="false"/>
    <arg name="enable_realsense_d435i_stereo_camera" default="false"/>
    <arg name="enable_ydlidar" default="false"/>

    <group ns="$(arg robot_namespace)">

        <!-- region Robot description -->
        <param name="robot_description"
                command="$(find xacro)/xacro $(arg model)
                enable_gazebo_stereo_camera:=$(arg enable_gazebo_stereo_camera)
                enable_logitech_stereo_camera:=$(arg enable_logitech_stereo_camera)
                enable_realsense_d435i_stereo_camera:=$(arg enable_realsense_d435i_stereo_camera)
                enable_ydlidar:=$(arg enable_ydlidar)"
        />
        <param name="robot_namespace" value="$(arg robot_namespace)"/>
        <!-- endregion -->

        <!-- region Model upload to Gazebo -->
        <group if="$(arg spawn_gazebo)">

            <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
                  args="
                  -urdf
                  -param robot_description
                  -model sctebot
                  -robot_namespace $(arg robot_namespace)
                  -x $(arg x)
                  -y $(arg y)
                  -z $(arg z)
                  -R $(arg roll)
                  -P $(arg pitch)
                  -Y $(arg yaw)"
                  respawn="false" output="screen"/>

        </group>
        <!-- endregion -->

        <!-- region Control parameters and plugins -->
        <include file="$(find sctebot_control)/launch/sctebot_control.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
        </include>
        <!-- endregion -->
    </group>

</launch>