<launch>

    <arg name="robot_namespace" default="sctebot"/>

    <group ns="$(arg robot_namespace)">
        <!-- main vehicle urdf file with vehicle transforms-->
        <param name="robot_description" command="$(find xacro)/xacro '$(find sctebot_description)/urdf/sctebot_chassis.xacro'
            robot_namespace:=$(arg robot_namespace)
            inertial_reference_frame:=world"/>

        <!-- Publish robot model for ROS -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
            <param name="robot_description" value="/$(arg robot_namespace)/robot_description" />
            <param name="publish_frequency" value="5" />
        </node>
    </group>

</launch>