<launch>

    <!--
    https://github.com/husky/husky/blob/ea1c27f2b2e5e0f106c19aae65ec7bc5023dda64/husky_control/launch/teleop.launch
    -->
    <arg name="robot_namespace" default="/sctebot"/>
    <arg name="enable_stereo_cameras" default="1"/>
    <arg name="enable_g2_ydlidar" default="1"/>
    <arg name="enable_gpsd" default="1"/>

    <group if="$(eval arg('enable_stereo_cameras') == 1)">
        <include file="$(find stereo_cameras)/launch/stereo_cameras.launch"/>
    </group>

    <group if="$(eval arg('enable_g2_ydlidar') == 1)">
        <group ns="$(arg robot_namespace)">
            <include file="$(find ydlidar_ros)/launch/G2.launch"/>
        </group>
    </group>

    <group if="$(eval arg('enable_gpsd') == 1)">
        <include file="$(find gpsd_gps)/launch/gpsd_gps.launch">
            <arg name="nodeName" value="ros-pi-node"/>
            <arg name="gpsName" value="adafruit_ultimate_gps"/>
        </include>
    </group>

</launch>
