<launch>

    <arg name="simulation_on" default="0"/>
    <arg name="enable_joystick" default="1"/>

    <group if="$(eval arg('simulation_on') == 0)">
        <include file="$(dirname)/sctebot_sensors.launch">
            <arg name="enable_stereo_cameras" value="1"/>
            <arg name="enable_g2_ydlidar" value="1"/>
            <arg name="enable_gpsd" value="1"/>
        </include>

        <include file="upload.launch">

        </include>
    </group>

    <group if="$(eval arg('simulation_on') == 1)">
        <include file="$(dirname)/sctebot_sensors.launch">
            <arg name="enable_stereo_cameras" value="0"/>
            <arg name="enable_g2_ydlidar" value="0"/>
            <arg name="enable_gpsd" value="1"/>
        </include>

        <include file="upload.launch">

        </include>
    </group>

</launch>