<launch>
    <arg name="robot_namespace" default="/sctebot"/>
    <arg name="pub_tf" default="false"/>
    <arg name="simulation_on" default="0"/>
    <arg name="enable_ekf_odom_map" default="1"/>
    <arg name="enable_navsat_odom" default="1"/>

    <arg name="navsat_gps_device" default="hector_sim"/>

    <!--
    Path planning
        http://wiki.ros.org/base_local_planner
        http://wiki.ros.org/dwa_local_planner
    -->

    <!--
    IMU tie in/robot localization
    References:
         https://github.com/udacity/robot_pose_ekf
         https://answers.ros.org/question/259084/basic-robot_localization-example/
         https://github.com/cra-ros-pkg/robot_localization/blob/kinetic-devel/params/ekf_template.yaml
         https://kapernikov.com/the-ros-robot_localization-package/
         http://docs.ros.org/en/melodic/api/robot_localization/html/integrating_gps.html
         https://answers.ros.org/question/239612/can-i-change-arg-value-in-roslaunch/
    Notes:
        Get an error output onto the terminal when using robot_localizaiton
        https://github.com/ros/geometry2/issues/467
        http://wiki.ros.org/robot_localization/Troubleshooting
        https://answers.ros.org/questions/scope:all/sort:activity-desc/tags:robot_localization/page:1/
    -->

    <!-- example from source
    https://github.com/cra-ros-pkg/robot_localization/blob/noetic-devel/launch/dual_ekf_navsat_example.launch
    -->

    <group ns="$(arg robot_namespace)">

        <!--rosparam param="datum">[32.75394484000334, -117.21848979362261, 0.0, map, base_link]</rosparam-->

        <rosparam command="load" file="$(find sctebot_localization)/config/ekf_state_estimate_odom_map_navsat.yaml" subst_value="true"/>

        <group if="$(eval arg('enable_ekf_odom_map') == 1)">
            <!-- odom ekf -->
            <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

            <!-- map ekf -->
            <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
                <remap from="odometry/filtered" to="odometry/filtered_map"/>
            </node>

        </group>

        <!-- map/world ekf -->
        <group if="$(eval arg('enable_navsat_odom') == 1)">
            <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
                <remap from="odometry/filtered" to="odometry/filtered_map" />
                <remap from="gps/fix" to="$(arg navsat_gps_device)/gps/fix"/>
                <remap from="imu/data" to="imu"/>
                <!--remap from="imu/data" to="d455/imu/data"/-->
            </node>
        </group>
    </group>

</launch>