<launch>
    <arg name="robot_namespace" default="sctebot"/>
    <arg name="pub_tf" default="false"/>
    <arg name="enable_simulation" default="false"/>

    <arg name="enable_ekf_odom" default="true"/>
    <arg name="enable_ekf_map" default="true"/>
    <arg name="enable_navsat_transform" default="true"/>

    <!-- just choose one manually for now -->
    <!--
        adafruit_10dof_imu
        yost_3space_ahrs
        witmotion_gps_ahrs
    -->

    <arg name="primary_imu" default="adafruit_10dof_imu"/>
    <arg name="primary_gps" default="adafruit_ultimate_gps"/>

    <group ns="$(arg robot_namespace)">

        <group if="$(eval arg('primary_imu') == 'adafruit_10dof_imu')">

            <include file="$(find sctebot_localization)/launch/_localization_sensor_selection.launch">
                <arg name="enable_ekf_odom" value="$(arg enable_ekf_odom)"/>
                <arg name="enable_ekf_map" value="$(arg enable_ekf_map)"/>
                <arg name="enable_navsat_transform" value="$(arg enable_navsat_transform)"/>

                <arg name="ekf_odom" value="ada_10dof_imu_primary_ekf_se_odom"/>
                <arg name="ekf_map" value="ada_10dof_imu_primary_ekf_se_map"/>

                <arg name="navsat_transform_gps_odometry" value="$(arg primary_gps)/odometry/gps"/>

                <arg name="navsat_transform_imu" value="adafruit_10dof_imu/imu/data"/>
                <arg name="navsat_transform_gps_fix" value="$(arg primary_gps)/gps/fix"/>
            </include>

        </group>

        <group if="$(eval arg('primary_imu') == 'yost_3space_ahrs')">

            <include file="$(find sctebot_localization)/launch/_localization_sensor_selection.launch">
                <arg name="enable_ekf_odom" value="$(arg enable_ekf_odom)"/>
                <arg name="enable_ekf_map" value="$(arg enable_ekf_map)"/>
                <arg name="enable_navsat_transform" value="$(arg enable_navsat_transform)"/>

                <arg name="ekf_odom" value="yost_3space_ahrs_primary_ekf_se_odom"/>
                <arg name="ekf_map" value="yost_3space_ahrs_primary_ekf_se_map"/>

                <arg name="navsat_transform_gps_odometry" value="$(arg primary_gps)/odometry/gps"/>

                <arg name="navsat_transform_imu" value="yost_3space_ahrs/imu/data"/>
                <arg name="navsat_transform_gps_fix" value="$(arg primary_gps)/gps/fix"/>
            </include>

        </group>

        <group if="$(eval arg('primary_imu') == 'witmotion_gps_ahrs')">

            <include file="$(find sctebot_localization)/launch/_localization_sensor_selection.launch">
                <arg name="enable_ekf_odom" value="$(arg enable_ekf_odom)"/>
                <arg name="enable_ekf_map" value="$(arg enable_ekf_map)"/>
                <arg name="enable_navsat_transform" value="$(arg enable_navsat_transform)"/>

                <arg name="ekf_odom" value="witmotion_gps_ahrs_primary_ekf_se_odom"/>
                <arg name="ekf_map" value="witmotion_gps_ahrs_primary_ekf_se_map"/>

                <arg name="navsat_transform_gps_odometry" value="$(arg primary_gps)/odometry/gps"/>

                <arg name="navsat_transform_imu" value="witmotion_gps_ahrs/imu/data"/>
                <arg name="navsat_transform_gps_fix" value="$(arg primary_gps)/gps/fix"/>
            </include>

        </group>
    </group>

</launch>