<launch>
    <!--
    https://emanual.robotis.com/docs/en/platform/turtlebot3/nav_simulation/
    -->
    <arg name="model" default="sctebot"/>
    <arg name="map_file" default="$(find sctebot_navigation)/maps/map.yaml"/>
    <arg name="move_forward_only" default="true"/>

    <group ns="$(arg model)">
        <!-- Map server (fixed known obstacles?)-->
        <!--
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">

        </node>
        -->

        <!-- AMCL -->
        <!--
        <include file="$(find sctebot_navigation)/launch/amcl.launch">
            <arg name="model" value="$(arg model)"/>
        </include>
        -->

        <!-- move_base -->
        <include file="$(find sctebot_navigation)/launch/move_base.launch">
            <arg name="model" value="$(arg model)"/>
            <arg name="move_forward_only" value="$(arg move_forward_only)"/>
            <arg name="cmd_vel_topic" value="ackermann_steering_controller/cmd_vel"/>
            <arg name="odom_topic" value="odometry/filtered"/>
        </include>

    </group>

</launch>